.search-result {
  border-style: groove;
  text-align: center;
  padding: 2%;
  margin: 2%;
}

.search-container {
  width: 70%;
  margin: auto;
  float: left;
}

.search-form {
  border-style: groove;
  width: 25%;
  margin: auto;
  text-align: center;
  padding: 2%;
}

.saved-images {
  border-style: groove;
  width: 20%;
  float: right;
}

.columns {
  margin-left: 5%;
  margin-right: 5%;
}
