.search-result {
  border-style: groove;
  padding: 1%;
  margin: 2%;
  background-color: #ffffff;
  display: flex;
  height: 200px;
  /* justify-content: center; */
  align-items: center;
}

.search-container {
  width: 60%;
  margin: auto;
  float: left;
}

.search-form {
  border-style: groove;
  width: 25%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  padding: 2%;
  background-color: #ffffff;
}

.saved-images {
  border-style: groove;
  width: 20%;
  margin: 2%;
  padding: 2%;
  float: right;
  background-color: #ffffff;
}

/* .image-content {
  float: right;
  padding: 1%;
  text-align: center;
} */

.item-content {
  text-align: center;
  justify-content: center;
  /* float: right; */
  padding-left: 10%;
}

div.ui.medium.image {
  width: 50%;
  height: 75%;
}

div.ui.medium.image > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.tags {
  margin: 0.5em;
}

.columns {
  margin-left: 5%;
  margin-right: 5%;
}

body {
  background: url(backgroundimg.jpg);
  background-repeat: repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100%;
}

.welcome {
  width: 50%;
  text-align: center;
  padding: 2%;
}

.welcome-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .exit-button {
  float: right;
  align-items: flex-end;
} */

/* .search-page {
  margin-top: 5%;
} */
