.search-result {
  border-style: groove;
  padding: 1%;
  margin: 10px;
  background-color: #ffffff;
  display: flex;
  height: 200px;
  align-items: center;
}

.search-container {
  width: 60%;
  margin: auto;
  float: left;
}

.search-form {
  display: flex;

  border-style: groove;
  width: 400px;
  min-height: 200px;
  margin: auto;
  margin-top: 5%;
  padding: 2%;
  background-color: #ffffff;
}

div.search-fields {
  text-align: center;
  margin: auto;

  justify-content: center;
}

.saved-images {
  border-style: groove;
  width: 20%;
  margin: 10px;
  padding: 2%;
  float: right;
  background-color: #ffffff;
}

.item-content {
  width: 50%;
  text-align: center;
  justify-content: center;
}

div.ui.medium.image {
  width: 50%;
  height: 75%;
}

div.ui.medium.image > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.tags {
  margin: 0.5em;
}

.columns {
  margin-left: 5%;
  margin-right: 5%;
}

body {
  background: url(backgroundimg.jpg);
  background-repeat: repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100%;
}

.welcome {
  width: 50%;
  text-align: center;
  padding: 2%;
}

.welcome-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

i.icon {
  margin: 1rem;
}

a.ui.blue.basic.button.exit-button {
  margin: 1%;
}
